/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */
:root{
    --primary-color: #362F74;
    --secondary-color: #4F4F4F;
    --header-color: #333333;
    --primary-text-color: #362F74;
    --background-color: #D7D5E3;
}

.checker{
    border: 2px var(--primary-color) solid;
}

body{  
    font-family: 'Source Sans Pro';
}